body {
  padding-top: 100px;
  background-color: #E0FFFF;
  height: 100%
}

@media (max-width: 979px) {
  body {
    padding-top: 100px;
  }


}

html{
    height: 100%;
    margin: 0;
    padding: 0;
}
#fondo1{
   background: url(../Imagenes/bosque.jpg)no-repeat center center fixed;
   background-size: cover;
}
#fondo2{
   background: url(../Imagenes/bosque1.jpg)no-repeat center center fixed;
   background-size: cover;
}



 /* The side navigation menu */
.sidenav {
  
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
  height: 100%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 

#wrapper {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	float: left;
	box-sizing: border-box;
}

#b_w {
	width: 100%;
	float: left;
	background-color: #FFFFFF;
	height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  margin-bottom: 20px;
}

#bitacora {
	width: 100%;
	float: left;
	background-color: #FFFFFF;
}

#c_w {
	width: 100%;
	float: left;
	background-color: #FFFFFF;
	height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  margin-bottom: 20px;
}

#cursos {
	width: 100%;
	clear: both;
	background-color: #FFFFFF;
	overflow: auto;
}

#mostrar_bitacora {
	width:100%;
	margin:10px auto;
}

#lista_cursos {
	width:100%;
	margin-bottom: 20px;
	overflow: auto;
	text-align:center;
}


/* CSS de chat */
#b_chat {
  width: 100%;
  float: left;
  background-color: #FFFFFF;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  margin-bottom: 0;
  border-bottom: 0;
}

#mensajes {
  position: relative;
  height: 100%
}

#envia {
  height: 18%;
  width: 100%;
}
.inicio-sesion{
  margin: 0 auto;
  margin-top: 25%;
  padding:0;
}

.modal-content{
  background-color: #60AF13;
  opacity:.90;
  padding: 0 20px;
  box-shadow: 0px 0px 3px #848484;

}

.user-img-inicio-sesion{
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-img-inicio-sesion img{
  width: 100px;
  height: 100px;
}
.form-group-inicio-sesion input{
  height: 42px;
    font-size: 18px;
    border:0;
    padding-left: 54px;
    border-radius: 5px;
    margin: 0 auto;
}
.form-group-inicio-sesion::before{
  font-family: "Font Awesome\ 5 Free";
  position: absolute;
  left:28px;
  font-size: 22px;
  padding-top:4px;
}
.form-group-inicio-sesion#correo::before{
  content :"\f0e0";
}
.form-group-inicio-sesion#contrasena::before{
  content :"\f023";
}
.registro{
  margin: 0 auto;
  margin-top: 15%;
  padding:0;
}

.reg-text-registro{
  font-size:30px;
}
.reg-img-registro{
  margin-top: 10px;
  margin-bottom: 35px;
}

.reg-img-registro img{
  width: 100px;
  height: 100px;
}

.form-group-registro input{
  height: 42px;
    font-size: 18px;
    border:0;
    padding-left: 54px;
    border-radius: 5px;
}
.form-group-registro::before{
  font-family: "Font Awesome\ 5 Free";
  position: absolute;
  left:28px;
  font-size: 22px;
  padding-top:4px;
   margin: 0 auto;
}
.form-group-registro#nombre::before{
  content :"\f007";
}
.form-group-registro#correo::before{
  content :"\f0e0";
}
.form-group-registro#contrasena::before{
  content :"\f023";
}
.form-group-registro#contrasenac::before{
  content :"\f023";
}
input[type=checkbox]
{
  transform: scale(1.5);
  padding: 10px;
}

.checkboxtexto
{
  padding:10px;
  font-size: 110%;
  display: inline;
}
button{
  width: 60%;
    margin: 5px 0 25px;
}

